@model HRMS.Models.ResidentFlat

@{
    ViewData["Title"] = "ResidentFlat Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Flat Assign Details <small class="text-lowercase">Flat Assign Details</small>
    </h3>
    <div class="page-bar" style="border:1px solid orange">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a asp-action="Dashboard" asp-controller="Home">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a asp-action="Index" asp-controller="ResidentFlats">Flat Assign List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a asp-action="Details" asp-controller="ResidentFlats" asp-route-id="@Model.Id">Flat Assign Details</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light" style="border:1px solid green">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Resident.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Resident.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Resident.ContactNo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Resident.ContactNo)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Flat.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Flat.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Flat.Category)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Flat.Category)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ArrivalDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ArrivalDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DepartureDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DepartureDate)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

