@model IEnumerable<HRMS.Models.Payment>

@{
    ViewData["Title"] = "Payment Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Payment List  <small class="text-lowercase">Payment List</small>
    </h3>
    <div class="page-bar" style="border:1px solid orange">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a asp-action="Dashboard" asp-controller="Home">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a asp-action="Index" asp-controller="Payments">Payment List</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light" style="border:1px solid green">
                <table class="table table-hover table-responsive" id="dataTable">
                    <thead>
                        <tr class="bg-primary">
                            <th>
                                Payment Date
                            </th>
                            <th>
                                Rent Month
                            </th>
                            <th>
                                Payment Method
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                            @*<th>Action</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.PaymentDate.ToString("dd MMM, yyyy hh:mm tt")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rent.RentMonth)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Method)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                @*<td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-xs btn-warning">Edit</a>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-xs btn-info">Details</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-xs btn-danger">Delete</a>
                                    </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}