@model IEnumerable<HRMS.Models.Rent>

@{
    ViewData["Title"] = "Rent Index";
}

<h2>Rent List</h2>

<p>
    <a asp-action="Create" class="btn  btn-primary">Receive Rent</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalBill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th>
                Due
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Flat.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentMonth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalBill)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid)
                </td>
                <td>
                    @(item.TotalBill - item.Paid)
                </td>
                <td>
                    @item.Date.ToString("dd-MMM-yyyy")
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-xs btn-warning">Edit</a>*@
                    <a asp-action="Receipt" asp-route-id="@item.Id" class="btn btn-xs btn-success">Receipt</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-xs btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-xs btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
