@model IEnumerable<HRMS.Models.Rent>

@{
    ViewData["Title"] = "Rent Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Rent List  <small class="text-lowercase">Rent List</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a asp-action="Dashboard" asp-controller="Home">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>

                <a asp-action="Index" asp-controller="Rents">Rent List</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <table class="table table-hover table-responsive" id="rentListTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Flat)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RentMonth)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalBill)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Paid)
                            </th>
                            <th>
                                Due
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Date)
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Flat.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RentMonth)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalBill)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Paid)
                                </td>
                                <td>
                                    @(item.TotalBill - item.Paid)
                                </td>
                                <td>
                                    @item.Date.ToString("dd-MMM-yyyy")
                                </td>
                                <td>
                                    @*<button class="btn btn-xs btn-success" type="button" data-toggle="modal" data-target="#paymentModal">
            <i class="fa fa-credit-card"></i> Receive Payment
        </button>*@
                                    <button type="button" data-id="@item.Id" class="btn btn-xs btn-success pReceive">
                                        <i class="fa fa-credit-card"></i> Receive Payment
                                    </button>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-xs btn-info">Details</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-xs btn-danger">Delete</a>
                                    <a asp-action="Receipt" asp-route-id="@item.Id" class="btn btn-xs btn-warning" target="_blank">Receipt</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="paymentModal" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header alert bg-primary text-center">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title bold">Receive Rent Payment</h4>
            </div>
            <div class="modal-body">
                <span class="text-center text-danger"></span>
                <br>
                <form method="post" action="/Payments/AddCustomer">
                    @*<div class="form-group">
                            <label class="control-label"></label>
                            <select asp-for="RentId" class="form-control" asp-items="ViewBag.RentId"></select>
                            <select name="RentId" class="form-control">
                                <option value="">--Select--</option>
                                @foreach (var item in ViewBag.Rents)
                                {
                                    <option value="@item.Id">@item.Flat.Name - @item.RentMonth</option>
                                }
                            </select>
                        </div>*@
                    <div class="form-group">
                        <label class="control-label">Amount</label>
                        <input type="text" name="Amount" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Payment Date</label>
                        <input type="date" name="PaymentDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Payment Method</label>
                        <select name="Method" class="form-control">
                            <option value="">--Select--</option>
                            <option value="Cash">Cash</option>
                            <option value="BKash">BKash</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#rentListTable").on('click', '.pReceive', function () {

                $.confirm({
                    title: 'Receive Rent Payment',
                    content: '' +
                        '<form action="" class="formName">' +
                        '<div class="form-group">' +
                        '<label class="control-label">Amount</label>' +
                        '<input type="number" class="form-control amount" required />' +
                        '</div>' +
                        '<div class="form-group">' +
                        '<label class="control-label">Payment Method</label>' +
                        '<select class="form-control method">' +
                        '<option value="">--Select--</option>' +
                        '<option value="Cash">Cash</option>' +
                        '<option value="BKash">BKash</option>' +
                        '</select>' +
                        '</div>' +
                        '</form>',
                    buttons: {
                    formSubmit: {
                        text: 'Ok',
                        btnClass: 'btn-blue',
                        keys: ['enter', 'shift'],
                        action: function () {
                            var rentId = $(this).data('id');
                            var amount = this.$content.find('.amount').val();
                            var method = this.$content.find('.method').val();
                            if (!amount) {
                                $.alert('provide a amount');
                                return false;
                            }

                            $.ajax({
                                type: 'GET',
                                url: '/Payments/ReceivePayment/',
                                dataType: 'json',
                                data: { invoice: name, counterName: counterName },
                                success: function (data) {
                                    window.open('/PointOfSale/ShowReport?invoiceNo=' + name, '_blank');
                                    return true;
                                }, error: function () {
                                    $.alert('Invalid Invoice Number');
                                    return false;
                                }
                            });
                        }
                    },
                    cancel: function () {
                        //close
                    }
                },
                    onContentReady: function () {
                        var jc = this;
                        this.$content.find('form').on('submit', function (e) {
                            e.preventDefault();
                            jc.$$formSubmit.trigger('click');
                        });
                    }
                });
        });
            });

    </script>
}